.main-weekday{
    height: 50px; 
    display: flex; 
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #747474;
    font-weight: bold;
    letter-spacing: 2.32px;
}