.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  
}

.modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    width: 690px;
    min-height: 420px;
    max-height: 420px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  
}

.modal-close-x p {
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    opacity: .5;
    font-size: 25px;
    color: white; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 30px; 
    z-index: 20; 
}

.success-modal-header{
  width: 100% ;
  display: flex;
  align-items: center;
  justify-content: space-between;
   background-color: #430098;
   min-height: 70px;
   text-transform: uppercase;
   color: white; 

   
}

.modal-title{
  padding-top: 4px; 
  margin: 40px; 
}

.bag-logo{
  width: 250px;
  height: 250px; 
}
