nav{
    display: flex; 
    justify-content: space-between;
    width: 100%;
    min-height: 60px;
    border: none; 
    
    background-color: white;
}


.header-container{
    padding: 10px 24px 7px 16px;
    width: 97%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    min-height: 57px;
    background-color: white;
    position: relative; 
   // z-index: 50; //TOOK OUT Z INDEX... NOTHING BROKE BUT MAY HAVE TO PUT BACK IN
}

.logo{
    width: 145px;
    height: 50px;
}

.home-login-container{
    border: 1px solid #9F9F9F;
    color: #FE4239;
    height: 40px;
    width: 180px;
    display: flex; 
    justify-content: center;
    align-items: center;

    letter-spacing: 2.32px;
    cursor: pointer;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 12px;
    line-height: 40px;
    margin-right: 20px;
}

.menu-dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90px;
}

.menu{
    color: #FE4239;
    font-size: 17px;
    font-family: 'Roboto', serif;
    font-weight: bold; 
    height: 40px;
    letter-spacing: 1.32px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.fa-bars{
    height: 20px; 
}

.dropdown-trigger{
    position: relative;
}

.active {
    display: block; 

}

.hidden {
    display: none; 
}

.dropdown-options{
    // position: absolute;
    // background-color: #fff;
    // min-width: 250px; 
    position: absolute;
    border: 1px solid #C0BCBB;
    background-color: #FFF;
    border-radius: 6px;
   color: #504D4C;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 20px;
    padding: 0 10px;
    right: 0;
    top: 65px;
    width: 190px;
    z-index: 100;

}

.dropdown-options > li{
    display: flex;
    justify-content: flex-start;
    padding: 2px; 
    
}

.dropdown-options > li > img{
    margin-right: 8px;
   
}

.dropdown-options > li > p{
   font-size: 20px;
z-index: 999;
letter-spacing: 1.32px;
   
}










