nav{
    display: flex; 
    justify-content: space-between;
    width: 100%;
    min-height: 60px;
    border: none; 
    position: fixed; 
}


.header-container{
    padding: 10px 24px 7px 16px;
    width: 97%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    min-height: 57px;
    background-color: white;
    position: fixed; 
    z-index: 50;
}
.logo{
    width: 145px;
    height: 50px;
}

.home-login-container{
    border: 1px solid #9F9F9F;
    color: #FE4239;
    height: 40px;
    width: 180px;
    display: flex; 
    justify-content: center;
    align-items: center;

    letter-spacing: 2.32px;
    cursor: pointer;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 12px;
    line-height: 40px;
}