.log-in-form-container { 
    background-image: url('landing-page-bg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    padding: 56px 0;
    display: flex;
    align-content: center;
    justify-content: center;
}

.log-in-form-box{
    align-content: center;
    width: 560px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 10px;
    padding: 30px 0px;
    background-color: #fff;
} 